html {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: "comic sans MS", serif;
}
.label {
  border: none;
  position: relative;
  top: 250px;
  background-color: #fff;
  font-weight: bold;
  font-family: "comic sans MS", serif;
  font-size: 16px;
  outline: none;
}

.imges {
  height: 340px;
  width: 700px;
  top: 150px;
}

#simscreen {
  position: relative;
  left: 0px;
  top: 0px;
  height: 600px;
  width: 800px;
  background-image: url("../images/background.png");
}

#copyright {
  position: absolute;
  left: 50px;
  top: 577px;
  font-family: "comic sans MS", sans-serif;
  font-size: 12px;
}
#a {
  left: 173px;
  top: 355px;
}
#c {
  left: 230px;
  top: 260px;
}
#b {
  left: 450px;
  top: 90px;
}
#d {
  left: 400px;
  top: 220px;
}

#title {
  position: relative;
  left: 40px;
  top: 18px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  /* background-color: black; */
  font-family: "comic sans MS", serif;
  /* color: White; */
  text-transform: uppercase;
}

#title h3 {
  padding-top: 2px;
  margin: 0px;
}

#objective {
  /* t r b l */
  padding: 5px 0 2px 0;
  margin: 35px 0 0 0;
  font-family: "comic sans MS", serif;
}

#apparatus {
  /* t r b l */
  padding: 5px 0 2px 0;
  margin: 5px 0 0 0;
}

#can {
  position: absolute;
  top: 30px;
}
.simsubscreen {
  position: absolute;
  left: 50px;
  top: 70px;
  height: 530px;
  width: 745px;
}

.incanvas {
  margin: 5px 0 0 5px;
}
#nextButton {
  position: absolute;
  left: 740px;
  top: 520px;
  cursor: pointer;
}
#reset {
  position: absolute;
  left: 740px;
  top: 520px;
  cursor: pointer;
  visibility: hidden;
}

.steptext {
  display: inline;
  position: absolute;
  top: 25px;
}

.steptext-6 {
  display: inline;
}

.steptext-2 {
  display: inline;
}

.circlebg {
  border-radius: 100%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  background: #000;
}

@-webkit-keyframes glowing {
  0% {
    background-color: IVORY;
    -webkit-box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    -webkit-box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    -webkit-box-shadow: 0 0 3px IVORY;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: IVORY;
    -moz-box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    -moz-box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    -moz-box-shadow: 0 0 3px IVORY;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
}

@keyframes glowing {
  0% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
}
